*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
body{
    background:#002339;
}
.container{
    margin-top:  70px;
    margin-left: 60px;

}
.container h1{
    color: white;
}
.container h1 span {
    border-bottom: goldenrod solid 3px;
    color: goldenrod; 
    padding: 10px 0;
    word-spacing: 2px;   
}

.display{
    margin-top:  40px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    
}
#password{
    padding: 20px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    position: relative;
}
.display img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    position: absolute;
    left: 345px;
    cursor: pointer;
}
.generate-button{
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    background: green;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 5px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
}
.generate-button img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    position: absolute;
    left: 20px;
}



